/* حالت تاریک */
.dark-mode {
    background: #222;
    color: white;
}

.dark-mode header {
    background: #111;
}

.dark-mode nav {
    background: #333;
}

.dark-mode .product {
    background: #444;
    color: white;
}
